<script type="text/javascript">
$('.datepicker').datepicker()
</script>

<% if session[:sirket_id] %>
<h1>Sirkets#index</h1>
<p>Find me in app/views/sirkets/index.html.erb</p>
<%else%>
yook sirket
<%end%>

<script>
  $(document).ready(function() {
    $( "#datepicker" ).datepicker();
  }); 
</script>

  <div class="demo">
  <p>Date: <input type="text" id="datepicker"></p>

