<style type="text/css">
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
h1,.tcenter {
	text-align: center;
}
</style>
<h1><strong> Ondokuz Mayıs Üniversitesi </strong></h1><br>
<div class="tcenter">
	<strong> Bilgisayar Mühendisliği Öğrencileri </strong><br><br>
	<strong> iletişim : </strong> omukampuskart@gmail.com
</div>
<br>
<img class="displayed" src="/assets/biz.jpg" style="padding: center; width: 480px; height: 319px;"> 

