<div style="text-align: center;">
<h1>Ondokuz Mayıs Üniversitesi Kampüs Kart</h1><br>

Kampüs hayatını kolaylaştıracak bir alternatif olarak, Ondokuz Mayıs Üniversitesi Kampüs Kart sayesinde öğrenci kimliğin 
ve paran bir arada!<br>
Bu kart ile Ondokuz Mayıs Üniversitesi’nin tüm olanaklarından faydalanabilirsin.<br><br>

<h2>1. Ondokuz Mayıs Üniversitesi Kampüs Kart nedir?</h2><br>

Ondokuz Mayıs Üniversitesi Kampüs Kart öğrenci kimlik kartı olmasının yanı sıra alışverişleriniz yapabilirsiniz.<br>
Ondokuz Mayıs Üniversitesi Kampüs Kart’ını öğrenim hayatın boyunca öğrenci kimlik kartı olarak kullanmanın yanında alış veriş kartı olarak da kullanabileceksin.<br>
<br>
<h2>2. Ondokuz Mayıs Üniversitesi Kampüs Kart nasıl kullanılır?</h2><br>

Ondokuz Mayıs Üniversitesi Kampüs Kart’ınla tüm Kart özelliklerinden ve kampanyalarından faydalanabilir,<br>
Kartını tüm alışveriş işlemlerinde kullanabilirsin, ayrıca kampüs içinde bulunan fotokopi cihazlarında işlemlerini gerçekleştirebilir,<br>
sıcak içecek ve gıda otomatlarında kullanabilir ve ödemeni Ondokuz Mayıs Üniversitesi Kampüs Kart’ınla kolaylıkla yapabilirsin.<br>
Bu işlemler için kartına ön yükleme yapman gerekmektedir, tüm işlemlerini internet sitemiz üzerinden takip edebilirsin.
Ayrıca kartını kaybettiysen eğer yine sitemizdeki hesabından kartını dondurabilirsin.<br>
Ondokuz Mayıs Üniversitesi Kampüs Kart’ın aynı zamanda temassız özellikli olacaktır. Bu sayede kampüs içersindeki tüm noktalarda işlemlerini şifre ve imzaya gerek kalmadan gerçekleştirebilirsin.
<br>

<h2>3. Nasıl başvurabilirim?</h2><br>
Ondokuz Mayıs Üniversitesi Kampüs Kart’a başvurmak için;<br> TC kimliğinin yanı sıra öğrenci belgesi fotokopisi ile birlikte en yakın Kampus Kart Şubesi’ne giderek Kart başvuru formunu doldurabilirsin.<br>


<h2>4. Nasıl iptal edebilirim?</h2><br>
Bu kart senin Ondokuz Mayıs Üniversitesi öğrenci kimlik kartın da olduğu için öğrenim süresi boyunca kartın kullanımına devam edebilirsin.
Üniversiteden mezun olman ya da okuldan ayrılman durumunda Ondokuz Mayıs Üniversitesi Kampüs Kart’ını yetkili kart şubelerine teslim ederek iptal ettirebilir, dilersen yeni Play kredi kartının sana gönderilmesini sağlayabilirsin.<br>

</div>
