table {
	align:center;
}
table.login {
		margin:auto;
    border-spacing: 5px;
    border-collapse: separate;
}

table.login th,
table.login td {
    padding: 4px;
    font-size: 13px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

table.login input[type=text],
table.login input[type=password]{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 8px;
    margin: 0;
    font-size: 13px;
    color: #555;
    width: 230px;
    border: 1px solid #ccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

table.login input[type=text]:focus,
table.login input[type=password]:focus {
    outline: 0;
    border: 1px solid #35addf;
}

table.login td.label {
    text-align: right;
    vertical-align: top;
    font:   40px Arial, Helvetica, sans-serif;
    color: #000;
		background: #fff;
    width: 40px;
    font-weight: bold;
    font-size: 11px;
    border-top: 8px solid #FFF;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

table.login td.field {
    width: 50px;
    background: #fff;
}
table.login td.select{
    border:1px solid #bdc7d8;
    font:   13px Arial, Helvetica, sans-serif;
    padding:3px;
    background:#fff;
    width:  158px;
    height: 27px;
    color:  #585858;

}
.minikutu {
  width: 500px;
  margin:auto;
  margin-top:30px;
  padding: 25px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow:0px 0px 20px #234868;
  -webkit-box-shadow:0px 0px 20px #234868;
  box-shadow:0px 0px 20px #234868;
}

